/* App.css */

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.side-by-side-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}

.box-transition {
  transition: all 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.visible {
  opacity: 1;
  max-height: 1000px;
}
